<div class="content_title_create">
      <p>Edit Income</p>
</div>

<%= render 'form' %>

<!-- <%= link_to 'Show', @income %> | -->
<!-- <%= link_to 'Back', incomes_path %> -->
<div class="back_nav">
    <%= link_to 'Cancel', incomes_path, :class => "btn_back" %>
</div>