<p id="notice"><%= notice %></p>

<div class="content">
    <div class="content_title">
      <p>Listing Incomes</p>
    </div>


    <div class="create_new">
    <%= image_tag("btn_create") %>
    <% if !params.has_key?(:category_id) %>
      <%= link_to 'New Income', new_income_path %>
    <% else %>
      <%= link_to 'New Income', new_category_income_path(params[:category_id]) %>  
    <% end %>
  </div>


    <div id="content_transactions">
    <% @incomes.reverse.each do |income| %>
        
        <div class="transaction">

            <div class="transacts_transactions"> 
              <p class="transacts_transaction_name"><%= income.name %></p>
              <p class="transacts_transaction_amt">$<%= income.amount %></p>
            <!-- category.find(params[:category_id]).transactions --> 
            </div>

            <div class="category_options">
              <div class="cat_options">
                <!-- <%= image_tag("btn_edit") %> -->
                <p><%= link_to link_to image_tag("btn_edit.png"), edit_income_path(income) %></p>
                <!-- <%= image_tag("btn_delete") %> -->
                <p><%= link_to link_to image_tag("btn_delete.png"), income, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div><!-- end cat_options -->
            </div><!-- end transaction_options -->

        </div><!-- end transaction -->
    <% end %>
    </div><!-- end content_transactions -->

    <br>

  <div class="back_nav">
    <%= link_to 'Back to categories.', categories_path, :class => "btn_back" %>
  </div>

</div><!-- end content -->