/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.content {
    margin: auto;
    width: 1200px;
    height: auto;
    min-height: inherit;
    /*background-color: #aecd37;*/
}

.content_title{
    display: table;
    width: 1200px;
    height: 65px;
    /*background-color: #ccc;*/
}

.content_title p{
    display: table-cell;
    font-family: Kannada Sangam MN;
    text-transform: uppercase;
    color: #171b1f;
    letter-spacing: 0.15em;
    font-size: 17px;
    font-weight: 800;
    vertical-align: middle;
    text-align: center;
}

p.heading1 {
    font-family: Kannada Sangam MN;
    text-transform: uppercase;
    color: #171b1f;
    letter-spacing: 0.15em;
    font-size: 15px;
    font-weight: 800;
}

p.heading2 {
    font-family: Helvetica Neue;
    color: #4e5152;
    /*letter-spacing: 0.15em;*/
    /*font-size: 15px;*/
}

.create_new {
    display: inline-block;
    width: 200px;
    float: right;
    margin-right: 185px;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    text-align: right;
    /*background-color: #ddd;*/
    border-bottom: solid 1px #8c8c8c;
}

.create_new a {
    color: #7ab12c;
}

.create_new a:hover {
    color: #bcdc55;
}

.btn_back {
    color: #8c8c8c;
}

.back_nav {
    display: block;
    margin: auto;
    width: 900px;
    padding-right: 5px;
    padding-top: 3px;
    border-top: solid 1px #8c8c8c;
}

/* For pages that display forms for creating a new cat, transaction, income */
#create_pg_content{
    width: 900px;
    height: auto;
    display: block;
    background-color: #ccc;
}
.content_title_create{
    margin: auto;
    margin-top: 70px;
    margin-bottom: -70px;
    display: block;
    width: 700px;
    height: 70px;
    /*background-color: #ccc;*/
}

.content_title_create p{
    font-family: Kannada Sangam MN;
    text-transform: uppercase;
    color: #171b1f;
    letter-spacing: 0.15em;
    font-size: 17px;
    font-weight: 800;
    /*vertical-align: middle;*/
    /*text-align: center;*/
}

#content_create_new {
    width: 900px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    /*background-color: #ccc;*/
}

.field {
    /*background-color: #cf0;*/
    height: auto;
    margin-bottom: 15px;
}
.actions {
    width: 900px;
    /*background-color: #ccc;*/
}

input.create_btn_submit {
    width: 200px;
    height: 37px;
    margin-top: 7px;
    margin-bottom: 70px;
    font-family: Century Gothic;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #b1d22e;
    border: solid 1px #dfdfdd;
}
input.create_btn_submit:hover {
    background-color: #a7c827;
}

label.create_label {
    color: #333;
    /*background-color: #999;*/
}

.create_text_field {
    width: 400px;
    height: 20px;
    padding-left: 7px;
    padding-right: 7px;
    border: solid 1px #bfbfbf;
    /*background-color: #aecd37;*/
}

.create_text_area {
    width: 400px;
    height: 100px;
    resize: none;
    padding: 5px 7px 5px 7px;
    border: solid 1px #bfbfbf;
    font-size: 13px;
}