// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#content_categories {
    height: auto;
    /*background-color: #ccc;*/
}

.content_categories {
    /*width: inherit;*/
    /*background-color: #aecd37;*/
}

.category {
    display: inline-block;
    width: 1200px;
    /*height: 500;*/
    margin-bottom: 10px;
    padding: 7px 0px 15px 0px;
    /*height: auto;*/
    /*background-color: #89F0FF;*/
}

.category:hover {
    background-color: #f9f9f9;
}

.category p {
    line-height: 16px;
}

.category_name {
    float: left;
    width: 300px;
    margin: 0px;
    padding-right: 40px;
    text-align: right;
    text-transform: uppercase;
    /*background-color: #777;*/
}

.category_name a:hover {
    color: #7ab12c;
}

.cat_descriptions {
    float: left;
    width: 500px;
    padding: 0px 20px 0px 20px;
    /*background-color: #FF5578;*/
}

.cat_descriptions a:hover {
    color: #7ab12c;
}

.content_cat_link{
    color: #8c8c8c;
}

.category_options {
    display: inline-block;
    float: left;
    width: 300px;
    height: auto;
    margin: 0px;
    /*background-color: #aecd37;*/
}

.category_options a {
    float: left;
    padding: 0px 5px 0px 5px;
    color: #9C9C9C;
    /*background-color: #fefefe;*/
}
.category_options a:hover{
    /*background-image: url('btn_create');*/
}

#btn_new_category{
    width: 300px;
    /*float: right;*/
    margin-left: 100px;
    background-color: #999;
}

/*.btn_create {
    width: 170px;
    height: 40px;
    border-style: none;
    border-radius: 7px;
    color: #FFF;
    background-color: #aecd37;
    font-size: 12px;
}*/

/*.btn_create:hover {
    background-color: #9CBD00;
}*/