// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#transaction_cat_title {
    display: block;
    width: 900px;
    margin: auto;
    /*background-color: #aecd37;*/
}

#transaction_cat_title_top {
    /*float: left;*/
    height: 16px;
    margin-bottom: 0px;
    /*background-color: #777;*/
}

#transaction_cat_title_btm {
    /*float: left;*/
    margin-top: 0px;
    /*background-color: #ccc;*/
}

#transaction_cat_title_btm p {
    vertical-align: text-top;
}

#content_transactions {
    width: 900px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    /*background-color: #ccc;*/
}

.transaction {
    display: inline-block;
    width: 900px;
    /*height: 500px;*/
    margin-top: 0px;
    margin-bottom: 15px;
    /*height: auto;*/
    /*background-color: #89F0FF;*/
}

.transaction:hover {
    background-color: #f9f9f9;
}

.transaction p {
    line-height: 5px;
}

.transacts_transactions {
    float: left;
    width: 500px;
    padding-right: 20px;
    /*background-color: #FF5578;*/
}

p.transacts_transaction_name {
    color: #8c8c8c;
}

.category_options {
    display: inline-block;
    float: left;
    width: 300px;
    height: auto;
    margin: 0px;
    /*background-color: #aecd37;*/
}

.category_options a {
    float: left;
    padding: 0px 5px 0px 5px;
    color: #9C9C9C;
    /*background-color: #fefefe;*/
}

.create_new_transaction {
    display: block;
    margin: auto;
    width: 900px;
    /*float: right;*/
    /*margin-right: 185px;*/
    padding-right: 5px;
    padding-top: 3px;
    /*background-color: #ddd;*/
    border-top: solid 1px #8c8c8c;
}

.create_new_transaction a {
    color: #7ab12c;
}