<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="content_create_new">
    <div class="field">
      <%= f.label :name, :class => "create_label" %><br>
      <%= f.text_field :name, :class => "create_text_field" %>
    </div>

    <div class="field">
      <%= f.label :description, :class => "create_label" %><br>
      <%= f.text_area :description, :class => "create_text_area" %>
    </div>

    <div class="actions">
      <%= f.submit :class => "create_btn_submit"%>
    </div>
  </div>
<% end %>
