<div class="content_title_create">
      <p>Edit Category</p>
</div>

<%= render 'form' %>

<!-- <%= link_to 'Show', @category %> | -->
<!-- <%= link_to 'Back', categories_path %> -->
<div class="back_nav">
    <%= link_to 'Cancel', categories_path, :class => "btn_back" %>
</div>