<p id="notice"><%= notice %></p>

<div class="content">
  <!-- <h1>Listing Categories</h1> -->
  <div class="content_title">
    <p>Listing Categories</p>
  </div>

  <div class="create_new">
    <!-- <img src="wallet/app/assets/btn_create.png"> -->
    <%= link_to link_to image_tag("btn_create.png"), new_category_path, :class => "btn_create" %>
    <%= link_to "   New Category", new_category_path, :class => "btn_create" %>
    <!-- <%= image_tag("btn_create.png") %> -->
    <!-- <%= link_to 'New Category', new_category_path, :class => "btn_create"%> -->
  </div>

  <div id="content_categories">
      <% @categories.reverse.each do |category| %>

        <div class="category">
            <div class="category_name">
              <!-- <p><%= link_to category.name, category_transactions_path(category) %></p> -->
              <p><%= category.name %></p>
            </div><!-- end category_name -->

            <div class="cat_descriptions"> 
              <p><%= category.description %></p>
              <a class="content_cat_link">&#9643 &nbsp &nbsp<%= link_to "Incomes", category_incomes_path(category), :class => "content_cat_link" %></a>
              <br/>
              <a class="content_cat_link">&#9643 &nbsp &nbsp<%= link_to "Transactions", category_transactions_path(category), :class => "content_cat_link" %></a>
            <!-- category.find(params[:category_id]).transactions --> 
            </div>

            <div class="category_options">
              <div class="cat_options">
                <p><%= link_to link_to image_tag("btn_edit.png"), edit_category_path(category) %></p>
                <p><%= link_to link_to image_tag("btn_delete.png"), category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div><!-- end cat_options -->
            </div><!-- end category_options -->

        </div><!-- end category -->
      <% end %>

  </div><!-- end content_categories -->

  <!-- <div id="btn_new_category"> -->
    <!-- <%= button_to 'New Category', new_category_path, :class => "btn_create", :method => :get %> -->
  <!-- </div> -->

  <div class="back_nav">
    <p>&#9643 &nbsp &nbsp<%= link_to 'View All Incomes.', incomes_path, :class => "btn_back" %></p>
    <p>&#9643 &nbsp &nbsp<%= link_to 'View All Transactions.', transactions_path, :class => "btn_back" %></p>
  </div>

</div><!-- end content -->