<%= form_for([@category, @transaction]) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Only display the form if the database isn't empty. -->
  <% if !@category.nil? || !@categories.empty? %>

    <div id="content_create_new">
      <div class="field">
        <%= f.label :amount, :class => "create_label" %><br>
        <%= f.text_field :amount, :class => "create_text_field" %>
      </div>
      <div class="field">
        <%= f.label :name, :class => "create_label" %><br>
        <%= f.text_field :name, :class => "create_text_field" %>
      </div>

      <%if !@categories.nil? %>
      <div class="field">
            <%= f.label :category_id, :class => "create_label" %><br>
            <%= f.collection_select :category_id, @categories, :id, :name, :include_blank => false %> 
      </div>
      <% end %>
      
      <div class="actions">
        <%= f.submit :class => "create_btn_submit" %>
      </div>
    </div>

  <% end %>

<% end %>
