<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="content_create_new">
    <div class="field">
      <%= f.label :amount, :class => "create_label" %><br>
      <%= f.text_field :amount, :class => "create_text_field" %>
    </div>
    <div class="field">
      <%= f.label :name, :class => "create_label" %><br>
      <%= f.text_field :name, :class => "create_text_field" %>
    </div>

    <div class="field">

      <%= f.label :category_id %><br>
      <!-- <%= f.text_field :category_id %> -->

      <%= f.collection_select :category_id, @cats, :id, :name %>
      
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  
  </div>
<% end %>
