<div class="content_title_create">
      <p>Edit Transaction</p>
</div>

<%= render 'form' %>

<!-- <%= link_to 'Show', @transaction %> | -->
<!-- <%= link_to 'Back', transactions_path %> -->
<div class="back_nav">
    <%= link_to 'Cancel', transactions_path, :class => "btn_back" %>
</div>