<p id="notice"><%= notice %></p>

<div class="content">
  <!-- <h1>Listing Transactions</h1> -->
  <div class="content_title">
      <p>Listing Transactions</p>
  </div>

  <% if !@category.nil? %>
    <div id="transaction_cat_title">
      <div id="transaction_cat_title_top">
        <p class="heading1"><%= @category.name %></p>
      </div>
      <div id="transaction_cat_title_btm">
        <p class="heading2"><%= @category.description %></p>
      </div>
    </div>
  <% end %>

  <div class="create_new">
    <%= image_tag("btn_create") %>
    <% if !params.has_key?(:category_id) %>
      <%= link_to 'New Transaction', new_transaction_path %>
    <% else %>
      <%= link_to 'New Transaction', new_category_transaction_path(params[:category_id]) %>  
    <% end %>
  </div>

  <div id="content_transactions">
    <% @transactions.reverse.each do |transaction| %>

    <div class="transaction">

        <div class="transacts_transactions"> 
          <p class="transacts_transaction_name"><%= transaction.name %></p>
          <p class="transacts_transaction_amt">$<%= transaction.amount %></p>
        <!-- category.find(params[:category_id]).transactions --> 
        </div>

        <div class="category_options">
          <div class="cat_options">
            <!-- <%= image_tag("btn_edit") %> -->
            <p><%= link_to image_tag("btn_edit.png"), edit_transaction_path(transaction) %></p>
            <!-- <%= image_tag("btn_delete") %> -->
            <p><%= link_to image_tag("btn_delete.png"), transaction, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div><!-- end cat_options -->
        </div><!-- end transaction_options -->

    </div><!-- end transaction -->
    <% end %>
  </div><!-- end content_transactions -->

  <br>

  <div class="back_nav">
    <%= link_to 'Back to categories.', categories_path, :class => "btn_back" %>
  </div>

</div><!-- end content -->