<div class="content_title_create">
      <p>New Transaction</p>
</div>

<!-- <div id="create_pg_content"> -->

    <%= render 'form' %>


<div class="back_nav">
    <%= link_to 'Cancel', categories_path, :class => "btn_back" %>
</div>
<!-- </div> -->